body {
    background-image: url(../images/interlaced.png);
    text-align: center;
    margin: 0px;
}

button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
}

footer {
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    color: #ffffff;
    padding: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 20px;
}

h2 {
    color: #4aaaa5;
    text-align: left;
    max-width: 960px;
    padding-left: 30px;
}

h4 {
    text-align: left;
    color: #666666;
    margin-left: 25px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

div img {
    width: 300px;
}

input {
    text-align: left;
    color: #666666;
    border: #cccccc 1px solid;
    padding: 10px 700px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 30px;
    border-bottom: 1px solid #cccccc;
    margin: 0px;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #cccccc;
    padding: 1px;
}

p {
    text-align: left;
    margin: 0px 30px 30px 30px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    clear: both;
    overflow: auto;
    max-width: 960px;
    margin: auto; 
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    margin: auto;
    margin-bottom: 100px;
}

td {
    padding: 10px 20px 10px 20px;
}

.headshot {
    width: 300px;
    float: left;
    margin: 10px 30px;
}

.relativePosition {
    position: relative;
    width: 300px;
}

.absolutePosition {
    position: absolute;
    top: 2px;
    padding: 5px 0px 5px 0px; 
    width: 100%;
    color: #ffffff;
    background-color: #4aaaa5;
}

.largeBox {
    padding: 100px 700px 10px 10px;
    border: 1px #cccccc solid;
    margin: 0px 30px 30px 30px;
}

.rightBorder {
    border-right: 2px solid #cccccc;
}

.scrollMenu {
    overflow: auto;
    white-space: nowrap;
  }

.scrollMenu a {
    display: inline-block;
    text-align: left;
    padding: 14px;
    text-decoration: none;
    color: #666666;
  }

  .w960 {
    margin:auto;
    width:960px;
    }

@media only screen and (max-width: 980px) {
    body {
        width: 980px;
    }

    header {
        width: 100%;
    }
    
    section {
        max-width: 780px;
    }

    input {
        padding: 10px 500px 10px 0px;
        margin: 0px;
    }

    h1 {
        margin-left: 50px;
    }

    .largeBox {
        padding: 10px 250px;
        margin-left: 35px;
    }
    
    button {
        justify-content: left;
    }

}

@media only screen and (max-width: 768px) {
    
} 

@media only screen and (max-width: 640px) {

    body {
        width: 640px;
        justify-content: center;
    }

    h1 {
        width: 100%;
        float: none;
        margin:0px;
    }

    header {
        padding:0px;
    }
    
    section {
        margin:30px 50px 100px 30px;
    }

    footer {
        padding:10px;
        position: fixed;
        left: -40px;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }

    .headshot {
        width: 500px;
    }    

    .w960 {
        width: 640px;
        float: none;
        margin:0px;
    }

    tr td {
        display:block;
    }

    input {
        padding: 10px 340px 10px 0px;
        margin: 0px;
    }

    .largeBox {
        padding: 10px 180px;
    }
}